


<%= link_to 'Back', root_path %>

<div class="card-form">
  <div class='card'></div>
  <div class="form-info">
    <%= form_tag do %>
      <%= text_field_tag 'number', nil, placeholder: 'Card Number' %>
      <%= text_field_tag 'name', nil,  placeholder: 'Full Name' %>
      <%= text_field_tag 'expiry', nil, placeholder: 'MM/YYYY' %>
      <%= text_field_tag 'cvc', nil, placeholder: 'CVC' %>
      <%= submit_tag 'Purchase' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
var card = new Card({
  form: 'form',
  container: '.card',
//   formSelectors: {
//     // numberInput: 'input#purchase_card_number',
//     expiryInput: 'input#purchase_expiry',
//     cvcInput: 'input#purchase_cvc',
//     nameInput: 'input#purchase_full_name'
// },
placeholders: {
    expiry: '••/••••',
},
  debug: true
});
</script>
