


<%= link_to 'Back', root_path %>

<div class="card-form">
  <div class='card'></div>
  <div class="form-info">
    <%= form_for :purchase do |f| %>
      <%= f.text_field 'number', nil, placeholder: 'Card Number' %>
      <%= text_field_tag 'name', nil, placeholder: 'Full Name' %>
      <%= text_field_tag 'expiry', nil, placeholder: 'MM/YY' %>
      <%= text_field_tag 'cvc', nil, placeholder: 'CVC' %>
      <%= submit_tag 'Submit' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
var card = new Card({
  form: 'form',
  container: '.card',
  debug: true
});
</script>
