


<%= link_to 'Back', root_path %>

<div class="card-form">
  <div class='card'></div>
  <div class="form-info">
    <%= form_for :purchase do |f| %>
      <%= f.text_field :card_number, placeholder: 'Card Number' %>
      <%= f.text_field :full_name, placeholder: 'Full Name' %>
      <%= f.text_field :expiry, placeholder: 'MM/YYYY' %>
      <%= f.text_field :cvc, placeholder: 'CVC' %>
      <%= f.submit 'Purchase' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
var card = new Card({
  form: 'form',
  container: '.card',
  formSelectors: {
    numberInput: 'input#purchase_card_number',
    expiryInput: 'input#purchase_expiry',
    cvcInput: 'input#purchase_cvc',
    nameInput: 'input#purchase_full_name'
},
placeholders: {
    expiry: '••/••••',
},
  debug: true
});
</script>
