<!DOCTYPE html>
<html>
<head>
  <title>ActiveMerchantEx</title>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

</body>
</html>
